In [2]:
# Importing libraries
import pandas as pd
import csv

In [3]:
train = pd.read_csv("data/InputTrain.csv")
train = train.drop('Index', axis=1)
train = train.drop('House_id', axis=1)
train_1d = train.values.flatten()

with open('train.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(train_1d.reshape(-1, 1))

In [ ]:
washing_machine = pd.read_csv("data/StepTwo_LabelTrain_WashingMachine.csv")
washing_machine = washing_machine.drop('Index', axis=1)
washing_machine = washing_machine.drop('House_id', axis=1)
washing_machine = washing_machine.values.flatten()

with open('washing_machine.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(washing_machine.reshape(-1, 1))

In [ ]:
kettle = pd.read_csv("data/StepTwo_LabelTrain_Kettle.csv")
kettle = kettle.drop('Index', axis=1)
kettle = kettle.drop('House_id', axis=1)
kettle_1d = kettle.values.flatten()

with open('kettle.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(kettle_1d.reshape(-1, 1))

In [ ]:
dishwasher = pd.read_csv("data/StepTwo_LabelTrain_Dishwasher.csv")
dishwasher = dishwasher.drop('Index', axis=1)
dishwasher = dishwasher.drop('House_id', axis=1)
dishwasher_1d = dishwasher.values.flatten()

with open('dishwasher.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(dishwasher_1d.reshape(-1, 1))

In [ ]:
microwave = pd.read_csv("data/StepTwo_LabelTrain_Microwave.csv")
microwave = microwave.drop('Index', axis=1)
microwave = microwave.drop('House_id', axis=1)
microwave_1d = microwave.values.flatten()

with open('microwave.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(microwave_1d.reshape(-1, 1))

In [ ]:
tumble = pd.read_csv("data/StepTwo_LabelTrain_TumbleDryer.csv")
tumble = tumble.drop('Index', axis=1)
tumble = tumble.drop('House_id', axis=1)
tumble_1d = tumble.values.flatten()

with open('tumble.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(tumble_1d.reshape(-1, 1))

Column titles are added to each file by hand:
- Watt in the train.csv file
- Washing Machine in the file washing_machine.csv
- Tumble Dryer in the file tumble.csv
- Dishwasher in the file dishwasher.csv
- Microwave in the file microwave.csv
- Kettle in the file microwave.csv

In [ ]:
# Concatenate the files
df0 = pd.read_csv('train.csv')
df1 = pd.read_csv('washing_machine.csv')
df2 = pd.read_csv('dishwasher.csv')
df3 = pd.read_csv('tumble.csv')
df4 = pd.read_csv('microwave.csv')
df5 = pd.read_csv('kettle.csv')

concatenated_df = pd.concat([df0, df1, df2, df3, df4, df5], axis=1)

concatenated_df.to_csv('consumption.csv', index=False)
n_values = len(concatenated_df)

In [4]:
consumption = pd.read_csv('consumption.csv')
consumption

           Watt  Washing Machine  Dishwasher  Tumble Dryer  Microwave  Kettle
0         180.0              0.0         0.0           0.0        0.0     0.0
1         180.0              0.0         0.0           0.0        0.0     0.0
2         180.0              0.0         0.0           0.0        0.0     0.0
3         181.0              0.0         0.0           0.0        0.0     0.0
4         180.0              0.0         0.0           0.0        0.0     0.0
...         ...              ...         ...           ...        ...     ...
22509355  366.5              0.0         0.0           0.0        0.0     0.0
22509356  376.0              0.0         0.0           0.0        0.0     0.0
22509357  367.0              0.0         0.0           0.0        0.0     0.0
22509358  353.0              0.0         0.0           0.0        0.0     0.0
22509359  361.0              0.0         0.0           0.0        0.0     0.0

[22509360 rows x 6 columns]

In [7]:
test = pd.read_csv("data/InputTest.csv")
test = test.drop('Index', axis=1)
test = test.drop('House_id', axis=1)
test_1d = test.values.flatten()

with open('test.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(test_1d.reshape(-1, 1))

Column titles are added to each file by hand:
- Watt in the test.csv file

In [3]:
test_consumption = pd.read_csv('test.csv')
test_consumption

           Watt
0         595.0
1         595.0
2         601.0
3         592.0
4         592.0
...         ...
5374075  1789.0
5374076  1789.0
5374077  1789.0
5374078  1789.0
5374079  1789.0

[5374080 rows x 1 columns]